---
// import { Image } from "astro:assets";
// import type { ImageMetadata } from "astro";

import Tag from "./Tag.astro";

const { project } = Astro.props;
const { title, link, img, text, tags } = project;

// const images = import.meta.glob<{ default: ImageMetadata }>("/src/assets/images/*.{jpeg,jpg,png,gif}");
// if (!images[img]) throw new Error(`"${img}" does not exist in glob: "src/assets/images/*.{jpeg,jpg,png,gif}"`);
---

<li>
  <article>
    <img src={img} alt=`${title} projekt` />
    <!-- <Image src={img} alt="Et profilbillede af Sif" alt=`${title} projekt` width="400" height="300" /> -->
    <div class="flow-space">
      <h4>{title}</h4>
      <p>{text}</p>
      <footer>
        <ul role="list">
          {tags.map((tag) => <Tag {tag} />)}
        </ul>
        {
          link && (
            <a href={link} target="_blank">
              Se projekt
            </a>
          )
        }
        <!--           {data.hvid && <Color type="card" img="hvid.webp" />}
 -->
      </footer>
    </div>
  </article>
</li>

<style>
  li {
    flex-basis: min(35rem, 90%);
    flex-shrink: 0;
    padding: 0 0 var(--space-s);
  }
  article {
    background: var(--white-50);
    box-shadow:
      0px 1px 3px rgba(210, 210, 210, 0.8),
      0px 4px 10px rgba(210, 210, 210, 0.8);
    border-radius: var(--radius-s);
    position: relative;

    img {
      border-radius: var(--radius-s) var(--radius-s) 0 0;
    }

    div {
      padding: var(--space-s);
    }

    footer {
      display: flex;
      justify-content: space-between;
      gap: var(--space-s);

      ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: var(--space-xs);
        padding: 0;
      }

      a {
        color: currentcolor;
        text-decoration: none;
        &::before {
          content: "";
          position: absolute;
          inset: 0;
        }

        &::after {
          content: " >";
          color: var(--accent);
        }

        &:hover {
          color: var(--accent);
          text-decoration: solid;
        }
      }
    }
  }
</style>
