---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

import Tag from "./Tag.astro";

const { project } = Astro.props;
const { title, link, img, text, tags } = project;

const images = import.meta.glob<{ default: ImageMetadata }>("/src/assets/images/*.{jpeg,jpg,png,gif}");
if (!images[img]) throw new Error(`"${img}" does not exist in glob: "src/assets/images/*.{jpeg,jpg,png,gif}"`);
---

<li>
  <article>
    <Image src={img} alt="Et profilbillede af Sif" alt=`${title} projekt` width="400" height="300" />
    <div class="flow-space">
      <h4>
        <a href={link} target="_blank">{title}</a>
      </h4>
      <p>{text}</p>
      <ul role="list">
        {tags.map((tag) => <Tag {tag} />)}
      </ul>
    </div>
  </article>
</li>

<style>
  li {
    flex-basis: min(35rem, 90%);
    flex-shrink: 0;
    padding: var(--space-s) 0;
  }
  article {
    background: var(--white-50);
    box-shadow:
      0px 1px 3px rgba(210, 210, 210, 0.8),
      0px 4px 10px rgba(210, 210, 210, 0.8);
    border-radius: var(--radius-s);
    position: relative;

    img {
      border-radius: var(--radius-s) var(--radius-s) 0 0;
    }

    div {
      padding: var(--space-s);

      h4 > a {
        color: currentcolor;
        text-decoration: none;

        &::after {
          content: "";
          position: absolute;
          inset: 0;
        }
      }

      ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: var(--space-xs);
        padding: 0;
      }
    }
  }
</style>
