---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

import profile from "../assets/images/profile.png";
import Tag from "./Tag.astro";

const { project } = Astro.props;
const { title, link, img, text } = project;

// const images = import.meta.glob<{ default: ImageMetadata }>("/src/assets/images/*.{jpeg,jpg,png,gif}");
// if (!images[img]) throw new Error(`"${img}" does not exist in glob: "src/assets/images/*.{jpeg,jpg,png,gif}"`);
---

<li>
  <article>
    <Image src={profile} alt="Et profilbillede af Sif" />
    <div>
      <h4>
        <a href={link}>{title}</a>
      </h4>
      <p>{text}</p>
      <ul role="list">
        <Tag tag="tester" />
      </ul>
    </div>
  </article>
</li>

<style>
  li {
    flex-basis: min(20rem, 90%);
    flex-shrink: 0;
  }
  article {
    background: var(--accent);
    border-radius: var(--radius-s);
    position: relative;

    img {
      border-radius: var(--radius-s) var(--radius-s) 0 0;
    }

    div {
      padding: var(--space-s);
      display: flex;
      flex-direction: column;
      gap: var(--space-xs);

      h4 > a {
        color: currentcolor;
        text-decoration: none;

        &::after {
          content: "";
          position: absolute;
          inset: 0;
        }
      }

      ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }
    }
  }
</style>
